head {
    margin: 20px;
    border: 10px solid color(srgb red green blue);
    padding: 15px;
}

border div {
    background-color: rgb(222, 210, 196);
}
 we can style multiple section at a time
h1,
h2,
h3 {
    color: rgb(99, 34, 161);
    background-color: rgb(165, 238, 238);
}

#red {
    background-color: aqua;
    color: darkviolet;
}

.blue {
    margin: 5px;
    background-color: mediumblue;
    color: rgb(212, 47, 47);
}

span {
    background-color: aqua;
    color: midnightblue;
    border: 0px solid black;

}

* {
    margin: 0;
    padding: 0;
}